/* !Global setting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff3500;
    --linkhover: #eb592d;
    --heading-color: #191d34;
    --footer-color: #7a7a7a;
    --footer-heading: #2e2e2e;
    --paragraph1: #909092;
    --paragraph2: #66666f;
    --pet: #808080;
    --slidersub: #979797;
}

.container {
    max-width: 1140px;
    /* border: 1px solid; */
    margin: 0 auto;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #dddddddd;
}

::-webkit-scrollbar-thumb {
    background: var(--linkhover);
}

/* !End  Global */

/* !Header */


.header-top-area {
    background-color: #000;
    padding: 1em;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.header-contact {
    list-style: none;
    display: flex;
    /* gap: 50px; */
    font-size: 1rem;
    flex-basis: 20rem;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-icon {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.2em;
    justify-content: space-between;
    flex-basis: 15rem;
}

.header-contact a,
.header-icon a {
    color: #ffffff;
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

.header-icon a {
    color: #fffffe99;
}

.header-icon a:hover {
    color: var(--linkhover) !important;
}

.header-down .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-down {
    position: sticky;
    top: 0;
    background: #fff;
    box-sizing: border-box;
    padding: 0 1em;
    z-index: 1;
}

.header-down ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 0;
    padding: 0;
}

.header-down ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #102955;
    transition: 0.3s ease-in-out color;
    padding: 2.5rem 0;
}

.header-down ul li:hover>a,
.header-down ul li:hover .fa-angle-down {
    color: var(--linkhover);
}


.header-down ul li {
    display: flex;
    gap: 5px;
    height: 6rem;
    align-items: center;
    margin-left: 30px;
}

.header-down ul li ul {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3em);
    background-color: #fff;
    /* padding: 1em; */
    gap: 1em;
    flex-direction: column;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s;
}

nav ul li ul li {
    height: 2.6rem !important;
    align-items: center;
}

.header-down ul li ul li a {
    padding: 1rem 0;
}

.header-down ul ul {
    position: absolute;
    top: 6.2rem;
}

nav ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s;
}

nav ul ul li {
    position: relative;
    padding: 0;
    width: 10rem;
    display: list-item;
}

/* !End of Navigation */

/* !Hero */

.hero {
    position: relative;
}

.heroimg {
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.hero .container {
    display: flex;
}

.dog {
    transform: translateY(6rem);
    width: 50rem;
    /* overflow: hidden; */
}

.dog img {
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex-basis: 25rem;
    transform: translateY(8rem);
    -webkit-transform: translateY(8rem);
    -moz-transform: translateY(8rem);
    -ms-transform: translateY(8rem);
    /* gap: 10px; */
}

.hero-content h3 {
    font-size: 75px;
    font-weight: 200;
    color: #fff;
    line-height: 1.1;
}

.hero-content span {
    font-weight: 800 !important;
    color: #fff;
}

.hero-content p {
    margin: 20px 0 35px 0;
    width: 20rem;
    color: #fff;
    line-height: 1.9;
    font-size: 16px;

}

.btn {
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    background: #fff;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    width: 12rem;
    padding: 20px;
    border-radius: 50px;
    transition: 300ms color ease-in-out, 300ms background ease-in-out;
    /* cursor: pointer; */
}

.btn:hover {
    color: #fff;
    background: var(--primary-color);
    text-decoration: none;
}

/* ! End of Hero  */

/* ! Services */

.services {
    margin-top: 15rem;
    height: 500px;
}

.services .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.service-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .service-upper h2 {
    font-size: 48px;
    color: var(--heading-color);
    letter-spacing: 0.5px;
}

.services .service-upper p {
    font-size: 15px;
    color: var(--paragraph1);
    max-width: 40rem;
    line-height: 2;
    text-align: center;
}

.service-down {
    /* border: 1px solid; */
    /* max-width: 1140; */
    /* min-width: 320px; */
}