/* !Global setting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff3500;
    --linkhover: #eb592d;
    --heading-color: #191d34;
    --footer-color: #7a7a7a;
    --footer-heading: #2e2e2e;
    --paragraph1: #909092;
    --paragraph2: #66666f;
    --pet: #808080;
    --slidersub: #979797;
}

.container {
    max-width: 1140px;
    border: 1px solid;
    margin: 0 auto;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* !End  Global */

/* !Header */

header {
    background-color: #000;
    padding: 1em;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.header-contact {
    font-family: "Poppins", sans-serif;
    list-style: none;
    display: flex;
    /* gap: 50px; */
    font-size: 1rem;
    flex-basis: 20rem;
    justify-content: space-between;
}

.header-icon {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.2em;
    justify-content: space-between;
    flex-basis: 15rem;
}

.header-contact a,
.header-icon a {
    color: #ffffff;
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

.header-icon a {
    color: #fffffe99;
}

.header-icon a:hover {
    color: var(--linkhover);
}