/* For small screen */

@media screen and (max-width: 640px) {
    .container {
        max-width: 320px;
    }

    .header-top {
        flex-direction: column;
    }

    .header-contact {
        justify-content: space-around;
        font-size: 14px;
        gap: 10px;
        flex-basis: 0;
    }

    .header-icon {
        margin: auto;
        min-width: 10rem;
        font-size: 1.2em;
        margin-top: 24px;
        justify-content: space-between;
    }
}

@media (min-width: 425px) and (max-width: 500px) {}

@media screen and (min-width: 800px) and (max-width: 1020px) {}