/* For small screen */

@media (max-width: 550px) {
    .container {
        max-width: 425px;
    }

    .header-top {
        flex-direction: column;
    }

    .header-contact {
        justify-content: space-around;
        font-size: 1em;
        gap: 15px;
    }

    .header-icon {
        font-size: 1.2em;
        margin-top: 20px;
        justify-content: space-evenly;
    }
}

@media (min-width: 425px) and (max-width: 500px) {}

@media screen (min-width: 800px) and (max-width: 1020px) {}